/* Css Reset */
 
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 /* Main Styling */
  
 html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
 }
 a {
    color: #333;
    text-decoration: none;
 }
  h1, h2, h3 {
    padding-bottom: 20px;
    text-align: center;
 } 
 
 
 

 /* Navbar */
.logo_image{
    float: left;
   height: 100px;
   width: 90px;
   margin: 10px;
   border-radius: 20px;

}
 #navbar {
    background:grey;
    color: #fff;
    overflow: auto;
 }
 #navbar a {
    color: #fff;
 }
 #navbar h1 {
    color:#fff;
 }
 #navbar h1 {
    float: left;
    padding-top: 20px;
 }
 #navbar ul {
   padding: 20px;
    float:right;
    list-style: none;
 }
 #navbar ul li{
    float: left;
 }
 #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  
 }
 #navbar ul li a:hover,
 #navbar ul li a.current {
    background-color: #444;
    color: skyblue;
 }
 


 .contact{
    text-align:center;
    padding:10px 10px 20px 20px;
      width: 100%;
      height: 750px;
     
   
   
  }
  .contact .contact_us {
      width: 35%;
      height: 100%;
      background:rgba(0,0,0,0.3);
      margin-right:5%;
      text-align: center;
      padding-top: 10px;
    margin: 0 auto;
  }
  .contact .contact_us h2{
      margin: 0;
      color:black;
      padding-top: 5%;
      padding-bottom: 15%;
  }
  
  .contact .contact_us form {
      width: 80%;
      margin: auto;
  }
  
  .contact .contact_us form input{
      display: block;
      width: 100%;
      background:rgba(0,0,0,0.5);
      border:0;
      height: 37px;
      padding-left: 15px;
      margin-bottom: 15px;
      outline: 0;
      color: #fff;
  
  }
  .contact .contact_us form textarea{
      width: 100%;
      background:rgba(0,0,0,0.5);
      border:0;
      padding-left: 15px;
      padding-top: 15px;
      margin-bottom: 15px;
      color: #fff;
  
      
  }
  .contact .contact_us form input[type="submit"]{
      color: #fff;
      cursor: pointer;
      width: 150px;
      height:50px;
      font-size: 20px;
      border-radius: 10px;
    display:flex;
    justify-content:center;
  }


/* Footer */
 
#footer{
   background: grey;
   color: black;
   padding: 20px 20px;
   text-align: center;
 }
 
 
 /* Social Media Links */
 .fa {
   padding: 20px;
   font-size: 40px;
   width: 50px;
   text-align: center;
   text-decoration: none;
 }
  .fa:hover {
   opacity: 0.7;
 }
  .fa-facebook {
   color: skyblue;
 }
 
 .fa-twitter {
   color: skyblue;
 }
 
 .fa-youtube {
   color: skyblue;
 }
  .fa-instagram {
   color: skyblue;
 }

 /* MQ */
 @media screen and (max-width: 789px) {
   .contact{
      width: 789px;
      height: auto;
   }
   .contact .contact_us{
      padding:10px 10px 20px 20px;
      width:500px;
      height: 650px;
        
 }
}